.verticalPlaylist {
  height: 100%;
  overflow: hidden;
}

.verticalPlaylist__item,
.verticalPlaylist__item--current {
  padding: 10px;
}

.verticalPlaylist__item--current {
  border: 1px solid #333;
}

.verticalPlaylist iframe {
  height: 100%;
  width: 100%;
}

.verticalPlaylist img {
  width: 100%;
}
